.activity {
  position: relative;
  overflow: hidden;
  max-height: 186px;
  width: 670px;
  box-shadow: 0 2px 4px 0 rgba(203, 203, 203, 0.5);
  margin-bottom: 25px;
  transition: all ease .1s;
}

.activity--open {
  max-height: 9999px;
  transition: all ease 1s;
}

.activity__body {
  padding: 10px 0 32px;
}

.activity__engineers {
  padding: 10px 25px 8px;
  border-bottom: solid 1px #efefef;
}

.activity__engineer {
  display: inline-flex;
  align-items: center;

  border-right: solid 1px #f1f1f1;
  height: 57px;

  padding-right: 12px;
  margin-right: 16px;
}

.activity__avatar {
  margin-right: 8px;
}

.activity__engineerName {
  font-size: 14px;
  line-height: 1.57;
  color: rgba(0, 0, 0, 0.65);
}

.activity__info {
  display: flex;
  padding: 10px 25px;
}

.activity__meta {
  display: flex;
  flex: 1;
}

.activity__metaLeft {
  flex: 1;
}

.activity__purpose {
	font-size: 16px;
	font-weight: 600;
  color: #6f7c87;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.activity__time {
  font-size: 14px;
  line-height: 1.57;
  color: rgba(65, 65, 65, 0.65);
}

.activity__metaRight {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-right: 24px;
}

.activity__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  padding-left: 22px;
  border-left: solid 1px #f1f1f1;
}

.activity__content {
  padding: 0 25px;
}

.activity__sectionTitle {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 600;
  color: #6e6e6e;
}

.activity__sectionContent {
  margin-bottom: 15px;
  white-space: pre-wrap;
}

.activity__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  height: 32px;
  width: 100%;
  bottom: 0;
  position: absolute;
  margin-bottom: 0;
  border-top: solid 1px #efefef;
}

.activity__buttonText {
  font-size: 14px;
  line-height: 1.57;
  color: #66aaf6;
}