.error {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  color: #7f7f7f;
}

.text {
  display: flex;
  flex-direction: column;
}

.image {
  margin-right: 100px;
  width: 300px;
}