.sider :global .ant-menu-item {
  margin: 0;
  height: 69px;
  padding: 14px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sider :global .ant-menu-item.ant-menu-item-selected {
  background-color: #f04545;
}

.sider :global .ant-menu-item .anticon {
  margin: 0;
  font-size: 21px;
}

.sider :global .ant-menu-item.ant-menu-item-selected .anticon {
  color: white;
}

.sider :global .ant-menu-item a {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1px;
  line-height: 2;
}

.logo {
  height: 55px;
  width: 55px;
  margin: 11px 8px 9px 8px;
}

:global #nprogress {
  pointer-events: none;
}

:global #nprogress .bar {
  background: #f04545;
  position: fixed;
  z-index: 1024;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
}

/* :global #nprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #f04545,0 0 5px #f04545;
  opacity: 1.0;
  transform: rotate(3deg) translate(0px,-4px);
}

:global #nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

:global #nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #f04545;
  border-left-color: #f04545;
  border-radius: 50%;
}

:global #nprogress .spinner-icon :local {
  animation: nprogress-spinner 400ms linear infinite;
}

:global #nprogress .nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

:global #nprogress .nprogress-custom-parent #nprogress .bar,
:global #nprogress .nprogress-custom-parent #nprogress .spinner {
  position: absolute;
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} */
