.h1 {
	font-size: 45px;
  letter-spacing: 0.1px;
  line-height: normal;
  color: inherit;
}

.h2 {
  font-size: 32px;
  letter-spacing: 0.1px;
  line-height: normal;
  color: inherit;
}

.h3 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.1px;
  line-height: normal;
  color: inherit;
}

.h4 {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1px;
  line-height: normal;
  color: inherit;
}