.h1 {
	font-size: 45px;
	letter-spacing: 0.1px;
	color: #26546c;
}

.h2 {
  font-size: 32px;
  letter-spacing: 0.1px;
  color: #26546c;
}

.h3 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.1px;
  color: #94a0a9;
}

.h4 {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1px;
  color: #94a0a9;
}