.filter {
  margin: 36px 0 24px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.row:first-child {
  margin-bottom: 10px;
}

.title {
  color: #94a0a9;
}

.verticalLine {
  display: inline-block;
  height: 26px;
  border-right: 1px solid #dddddd;
  margin: 0 16px 0 11px;
}
