.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 47px;
  line-height: normal;
  background-color: #ffffff;
  border: solid 1px #f0f0f0;
  padding: 0 11px 0 25px;
}

.headerTitle {
  color: #94a0a9;
}

.headerButton {
  display: inline-block;
}

.headerAvatar {
  margin-left: 5px;
}