.table :global .ant-table-pagination.ant-pagination {
  display: block;
  float: none;
  text-align: center;
}

.table :global .ant-pagination-item-active {
  border-color: #4581f0;
  background-color: #4581f0;
}

.table :global .ant-pagination-item-active a {
  color: white;
}

.table :global .ant-table-thead > tr > th,
.table :global .ant-table-tbody > tr > td {
  padding: 14px 9px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}